*{
    font-family: sans-serif;
}

.left-sample-image img {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
    width: 150px;
    height: 200px;
    padding: 10px;
    object-fit: cover;

}
.inner-con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    place-items: center;
}
.inner-con-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.left-main-image img{
    width: 400px;
    height: 640px;
    object-fit: cover;
}
.inner-con-right{
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

}
.inner-con-details{
    display: flex;
    flex-direction: column;
    font-size: 20px;line-height: 15px;
}
.inner-offer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(128, 126, 126);
    border-radius: 6px;
}
.inner-offer-icon{
    
    width: 20px;
    padding-right: 5px;
    height: 20px;
}
.inner-con-right-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.inner-icon-right{
    width: 40px;
    height: 40px;

}
.size-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;

    gap: 15px;
    
}
.size-css{
    display: flex;
    border: 2px solid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(177, 163, 163);
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: 0.5s;
    
}
.size-css:hover{
    background-color: rgb(187, 244, 244);
    border: 3px solid rgb(0, 0, 0);
    transform: scale(1.1);
}
.inner-colors{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid rgb(126, 109, 109);

}
.inner-color{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-around;
    padding: 10px;
    flex-direction:row;

    

}
.inner-color img{
    width: 70px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
}
.inner-price{
    display: flex;
    align-items: center;
    justify-content: start;
}
.new_p p{
    font-weight: 600;
    margin-right: 15px;
    margin-left: 5px;
    font-size: 22px;
}
.inner-old-p p{
    font-weight: 600;
    opacity: 0.6;
    font-size: 17px;
    text-decoration: line-through;


}
.inner-offer p{
    font-weight: 600;
    font-size: 22px;
}
.inner-offer{
    background-color: rgb(52, 237, 80);
}
.price-name{
    color: green;
    font-weight: 600;
    font-size: 22px;
}
hr {
    border: 1px solid #7e7878; 
    margin: 10px 0; 
    width: 100%; 
}
.inner-con h2{
    opacity: 0.5;

}
.inner-con-left img{
    border-radius: 6px;
}
.inner-color h3{
    opacity: 0.7;
}
.inner-rating
{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-direction: row;
}
.inner-icon-right2
{
 width: 30px;
 height: 30px;
}
.inner-con-last{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(146, 145, 145);
    min-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: 50px;
}
.last-con-price{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

}
.last-con-price{
    font-size: 22px;
    font-weight: 600;
}
.inner-con-last span{
    color: blue;
    font-size: 20px;


}

.add-location{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    height: 50px;
    background-color:rgb(219, 253, 252);
    gap: 15px;
    margin-top: 20px;
}
.add-location h4{
    font-size: 20px;
}
.add-location-icon{
    width: 40px;
    height: 40px;
}
.stock-left-last-p{
    font-size: 20px;
    font-weight: 500;
    color: red;
}
.inner-con-last-all-items{
    display: flex;
    align-items:start;
    justify-content: start;
    flex-direction: column;
    line-height: 23px;
}
.quantity-con-last{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;


}
.quantity-con-last input{
    width: 60px;
    height: 50px;
    border-radius: 6px;
    font-size: 22px; 


}
input::placeholder, 
textarea::placeholder {
  font-size: 19px; 
}
.buy-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    background-color: rgb(242, 255, 96);
    margin-bottom: 15px;
    font-weight: 600;
    border-radius: 26px;
    cursor: pointer;
    transition: 0.5s;
}
.buy-btn:hover{
    transform: scale(1.03);
    background-color: rgb(235, 252, 42);

}
.btn-disabled{
    background-color: rgb(202, 209, 123);
}
.btn-disabled:hover{
    background-color: rgb(202, 209, 123) !important;
    transform: scale(1) !important;
}
.add-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    background-color: rgb(255, 213, 0);
    margin-bottom: 25px;
    border-radius: 26px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}


.add-cart:hover{
    transform: scale(1.03);
    background-color: rgb(255, 200, 0);


}


.button-buy-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 585px) {
    
.left-sample-image img {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
    width: 100px;
    height: 150px;
    padding: 10px;
    object-fit: cover;

}

.inner-con-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.left-main-image img{
    width: 300px;
    height: 460px;
    object-fit: cover;
}


}
@media (max-width: 450px) {
    
.left-sample-image img {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column-reverse;
    width: 70px;
    height: 110px;
    object-fit: cover;

}

.inner-con-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.left-main-image img{
    width: 210px;
    height: 340px;
}


}