.banner img {
    width: 90vw;
    object-fit:contain;
}


.item-banner-con{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    padding: 40px;
}

.items-con{
    padding-top: 5%;
}